<h2>New Restaurant</h2>
<p>Please, enter your restaurant</p>


<%= simple_form_for [@restaurant] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.input :review %>
  <%= f.submit "add a restaurant", class: "btn btn-primary" %>
<% end %>

